@import "tailwindcss";

:root {
  --background: #f8f9fa;
  --foreground: #171717;
}

/* Force light mode variables even if system preference is dark */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #f8f9fa;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
  overflow: hidden;
  /* Prevent body scroll for the app-like feel */
}

@utility scrollbar-none {
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}